.products-container{
    display: flex;
    justify-content: space-between;
}

.watch img{
    width: 450px;
    height: 600px;
    margin-top:50px;
    margin-right: 20px;
}

.products-summary{
  margin:150px;
}

.customer-reviews{
    margin-bottom: 50px;
   
}

.btn{
    color: rgb(35, 104, 14);
    background-color: #6f5cdd;
    color:white;
    width: 150px;
    height:50px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin-top:100px;
}

.btn:hover{
    background-color: yellowgreen;
    color:white;
}


.reviews{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px;
    gap:30px;

}

@media screen and (max-width:700px) {
    .products-container{
        display: block;
        margin: 0;
    }
    .reviews{
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        margin: 50px;
    }
    .watch img{
        margin-top: 0;
    }
    .btn{
        margin:0;
    }
  
}

